@page
@model DisplayTableModel

@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using NonFactors.Mvc.Grid
@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<body>
    @(Html.Grid(Model.PayrollRecords).Build(columns =>
        {
            columns.Add(model => model.EmployeeID).Titled("Employee ID");
            columns.Add(model => model.FirstName).Titled("First Name");
            columns.Add(model => model.LastName).Titled("Last Name");
            columns.Add(model => model.PayrollError).Titled("Payroll Error");
        })
    )
</body>
</html>