@page
@model List<ConroeISDInterview.Models.PayrollRecord>
@{
    ViewBag.Title = "Payroll Table";
}

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayrollError)
            </td>
            
        </tr>
    }
</table>